{#
/**
 * @file
 * Conteneur pour le ticker TradingView (script injecté par bourse_tradingview.js).
 */
#}
<div class="bourse-ticker-block js-bourse-ticker-mount" role="complementary" aria-label="{{ 'Cours des marchés'|t }}">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
  </div>
</div>
