{#
/**
 * @file
 * Template pour l'affichage des brèves en mode teaser.
 */
#}
<article class="breve-item">
  <div class="breve-content">
    <h3 class="breve-title">
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
    
    <div class="breve-meta">
      <span class="breve-date">{{ node.created.value|date('d/m/Y H:i') }}</span>
    </div>
  </div>
</article>

