{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 * @see spherevoices_theme_preprocess_image_widget()
 */
#}
<div{{ attributes }}>
  {# Render la preview avec l'image originale au lieu du style thumbnail #}
  {% if data.preview %}
    {{ data.preview }}
  {% endif %}
  {# Render widget data without the image preview that was output already. #}
  {{ data|without('preview') }}
</div>

