/**
 * @file
 * Styles pour l'interface d'administration.
 */

/* Forcer l'affichage de la prévisualisation d'image dans les formulaires */
.form-managed-file__image-preview {
  display: block !important;
  margin: 1rem 0;
}


.image-preview {
  line-height: 0;
  display: block !important;
}

.image-preview img {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  max-width: 100%;
  height: auto;
}

