{#
/**
 * @file
 * Template pour les formulaires de filtres exposés de l'agenda.
 */
#}
<div class="views-exposed-form-wrapper">
  <div{{ attributes.addClass('views-exposed-form', 'agenda-exposed-form') }}>
    <div class="form-inner-wrapper">
      {{ form }}
    </div>
  </div>
</div>
